body {
	margin: 0px;
	font-size: 13px;
	line-height: 21px;
	color: #000000;
	background-color: #4889F0;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	background-image: url(images/NASAbottombanner.png);
}
a {
	color: #980C0F;
}
nav {
	height: 35px;
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 15px 10px 0px 0px;
	background-color: #FFFDFD;
	border-bottom: 3px solid #600;
}
nav ul {
	width: auto;
	margin: 0px;
	padding: 0px;
	float: right;
}
nav li {
	width: auto;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}
nav a {
	margin: 25px 0px 0px 5px;
	padding: 10px 20px 5px 40px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #A50C0F;
	background-image: url(images/blackandwhiteglobe.png);
	background-position: left center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}
nav a:hover {
	color: #4889F0;
	background-image: url(images/blueandwhiteglobe.png);
	background-position: left center;
	background-repeat: no-repeat;
}
header {
    height: 290px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 70px 0px 5px 0px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #600;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-image: url(images/NASAbanner.png);
}
div.centered-section {
	width: 1000px;
	margin: 0px auto 0px auto;
	align-items: center;
	background-color: #2D68AE;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto auto;
}
.category {
	width: 300px;
	min-height: 420px;
	margin: 20px 0px 10px 25px;
	float: left;
	background-color: #CCC;
	-webkit-box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
	box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.category h2 {
	margin: 0;
	padding: 10px;
	color: #980C0F;
	}
.category img {
	width: 300px;
	height: 175px;
	padding: 0px;
	margin: 0px -30px -10px -10px;
}
.category p {
	margin: -10px 0px -10px 0px;
	padding: 10px 10px 10px 10px;
	font-size: 13px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category p a {
	color: #980C0F;
	font-weight: bold;
}
footer {
	height: 10px;
	text-align: center;
	padding: 0px 0px 10px 0px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	float: left;
	margin-top: 0px;
}
footer p {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer a {
}
